- name: Install curl on all nodes
  hosts: all
  become: true
  gather_facts: yes

  tasks:
    - name: Ensure curl is installed
      apt:
        name: curl
        state: present
        update_cache: yes
